$font_color_yellow: #441300;
$font_color_h1: #ffff9d;
$font_color_h2: #ec8c00;
$font_color_pink: #fa50a0;
$pink_button_color: #f969a0;
$font_pink_button_color: #ffffce;
$navbar_color: #441300;
$navbar_font_hover:#fb086a;