@font-face{
    font-family: Barkentina;
    src: url(../fonts/barkentina/BarkentinaRegular.woff);
        /*url(file:///D:/landing_lessons/verstka/Yammybuy/fonts/barkentina/BarkentinaRegular/BarkentinaRegular.woff);*/     
}
@font-face{
    font-family: Introrust;
    src: url(../fonts/introrust/IntroRustG-Base2Line.woff);     
}

$barkentina: Barkentina, sans-serif;
$introrust: Introrust, sans-serif;