@mixin pink_button{
    display: inline-block;
    background-color: $pink_button_color;
    border-radius: 32px;
    padding: 22px 37px;
    font: 18px $introrust;
    letter-spacing: 1.8px;
    color: $font_pink_button_color;
    cursor: pointer;
}

@mixin h1_style{
    font: 150px $introrust;
    color: $font_color_h1;
    letter-spacing: 15px; 
    line-height: 109px;
}

@mixin h2_style{
    font: 30px $introrust;
    color: $font_color_h2;
    letter-spacing: 30px;
    line-height: 23px;
}

@mixin main_slides{
    display: none;
    box-sizing: border-box;
    text-align: center;
    padding-top: 397px;
    height: 1076px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    h1{
        margin-top: 44px;
    }
    h2{
        color: $font_color_pink;
    }
    .pinkButton{
        margin-top: 163px;
    }
    
}

@mixin arrows_in_main_slider{
    display: inline-block;
    width: 25px;
    height: 47px;
    background: url(../images/sprite.png) no-repeat;
    top: 495px;
    position: absolute;
}