@import "fonts";
@import "reset";
@import "colors";
@import "mixins";


/*---general Slides---*/
.pinkButton{
    @include pink_button;
}

h1{
    @include h1_style;
}

h2{
    @include h2_style;
}

/*---upper Slider---*/
.mainSliderCont{
    position: relative;
    .mainSlide{
        @include main_slides;
    }
    .mainSlide:first-child{
        background-image: url("../images/tort1.jpg");
    }
    .mainSlide:nth-child(2){
        background-image: url("../images/tort2.jpg");
    }
    .mainSlide:nth-child(3){
        background-image: url("../images/tort3.jpg");
    }
    .mainSlide:nth-child(4){
        background-image: url("../images/tort4.jpg");
    }
    .nextMainSl{
        @include arrows_in_main_slider;
        right: 47px;
        background-position: -113px -29px;
    }
    .prevMainSl{
        @include arrows_in_main_slider;
        left: 47px;
        background-position: -138px -29px;
    }
}



