@font-face {
  font-family: Barkentina;
  src: url(../fonts/barkentina/BarkentinaRegular.woff);
  /*url(file:///D:/landing_lessons/verstka/Yammybuy/fonts/barkentina/BarkentinaRegular/BarkentinaRegular.woff);*/ }
@font-face {
  font-family: Introrust;
  src: url(../fonts/introrust/IntroRustG-Base2Line.woff); }
/*
Sass Reset - Converted by Hampton Catlin
A modification of the original found at...
http://meyerweb.com/eric/tools/css/reset/
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4,
h5, h6, p, blockquote, pre, a, abbr, acronym, address, big,
cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small,
strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd,
ol, ul, li, fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside, canvas,
details, embed, figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary, time, mark, audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer,
header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*---general Slides---*/
.pinkButton {
  display: inline-block;
  background-color: #f969a0;
  border-radius: 32px;
  padding: 22px 37px;
  font: 18px Introrust, sans-serif;
  letter-spacing: 1.8px;
  color: #ffffce;
  cursor: pointer; }

h1 {
  font: 150px Introrust, sans-serif;
  color: #ffff9d;
  letter-spacing: 15px;
  line-height: 109px; }

h2 {
  font: 30px Introrust, sans-serif;
  color: #ec8c00;
  letter-spacing: 30px;
  line-height: 23px; }

/*---upper Slider---*/
.mainSliderCont {
  position: relative; }
  .mainSliderCont .mainSlide {
    display: none;
    box-sizing: border-box;
    text-align: center;
    padding-top: 397px;
    height: 1076px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
    .mainSliderCont .mainSlide h1 {
      margin-top: 44px; }
    .mainSliderCont .mainSlide h2 {
      color: #fa50a0; }
    .mainSliderCont .mainSlide .pinkButton {
      margin-top: 163px; }
  .mainSliderCont .mainSlide:first-child {
    background-image: url("../images/tort1.jpg"); }
  .mainSliderCont .mainSlide:nth-child(2) {
    background-image: url("../images/tort2.jpg"); }
  .mainSliderCont .mainSlide:nth-child(3) {
    background-image: url("../images/tort3.jpg"); }
  .mainSliderCont .mainSlide:nth-child(4) {
    background-image: url("../images/tort4.jpg"); }
  .mainSliderCont .nextMainSl {
    display: inline-block;
    width: 25px;
    height: 47px;
    background: url(../images/sprite.png) no-repeat;
    top: 495px;
    position: absolute;
    right: 47px;
    background-position: -113px -29px; }
  .mainSliderCont .prevMainSl {
    display: inline-block;
    width: 25px;
    height: 47px;
    background: url(../images/sprite.png) no-repeat;
    top: 495px;
    position: absolute;
    left: 47px;
    background-position: -138px -29px; }

/*# sourceMappingURL=style.css.map */
