*{
    margin: 0;
    padding: 0;
}

body{
    background: url(../images/bg.jpg);
}

.wrap{
    max-width: 1000px;
    margin: auto;
}

div.wrap{
    height: 100px;
}

/*nav ul{
    width: 100%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}*/

/*nav ul li{
    margin-right:  30px;
}*/

.content{
/*    background-color: rgba(87, 103, 127, 0.5);*/
}

.sidebar{
    
}
