*{
    margin: 0;
    padding: 0;
}


body{
    width: 100%;
    height: 100%;
    background-image: url(images/background.png);
}

div.wrap{
    margin: 51px auto 54px;
    max-width: 1004px;
    background-color: white;
    height: 100%;
    box-shadow: 0 0 2px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 0 2px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0 0 2px rgba(0,0,0,0.3);
}

div.content{
    padding: 0 35px;
}

.yellow{
    color: #f2ac04;
}

.gray{
    color: #929292;
}

.images{
    display: inline-block;
}

.flex-conteiner{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack:center;
    -ms-flex-pack:center;
    justify-content:center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

/*------Header------*/
.wrap .yellowRow{
    height: 15px;
    background-color: #f2ac04;
}

.header .logo{ 
    margin: 42px 0 34px;
    height: 56px;
}

.header .logo img,
.header .logo p{
    float: left;
}

.header .logo img{
    display: inline-block;
    border-right: 1px solid #cac8c5;
    padding: 0;
    padding-right: 41px;
}

.header .logo p{
    padding-left: 27px;
}

.header .logo p .yellow{
    font: 20px/34px 'Myriad Pro';
}

.header .logo p .gray{
    font: 14px/14px 'Myriad Pro';
}

hr{
    border: 0;
    height: 1px;
    color: #ccc;
    background-color: #ccc;
}
/*------Bar------*/

.bar hr{
    color: #ababab;
    background-color: #ababab;
}

.bar li{
    list-style-type: none;
    display: inline-block;
    margin: 15px 80px 15px 0;
    font: 18px/18.08px 'Myriad Pro';
    color: #6b6b6b;
}

.info .featProd{
    font: 12.18px/12.18px Tahoma;
    color: #555656;
    margin: 39px 0 10px;
}

.info div.leftWindow,
.info div.rightWindow{
    height: 297px;
    display: inline-block;
}
/*------leftWindow------*/
.info div.leftWindow{
    padding: 1px 1px 3px 1px;
    border: 1px solid #b0b0b0;
    margin-right: 25px;
    display: inline-block;
}

.info div.leftWindow .windowWrap{
    height: 100%;
    border: 1px solid #d4d4d4;
    background-image: url(images/leftImage.jpg);
    background-repeat: no-repeat;
    float: left;
}

.info div.leftWindow .windowWrap div{
    background-color: white;
    height: 23px;
    width: 400px;
    padding: 14px 23px 11px;
    position: relative;
    top: 249px;
}

.info div.leftWindow .windowWrap div a,
.info div.leftWindow .windowWrap div p{
    display: inline-block; 
    margin: 0;
}

.info div.leftWindow .windowWrap div p{
    margin: 0 110px 0 62px;
    vertical-align: 5px;
}
/*------rightWindow------*/

.info div.rightWindow{
    display: inline-block;
    float: right;
    width: 450px;
    overflow: hidden;
    height: auto;
}

.info div.rightWindow div{
    height: 129px;
    background-image: url(images/rightImage.jpg);
    background-repeat: no-repeat;
    color: white;
    padding: 70px 0 0 20px;
}

.info div.rightWindow div h3{
    font: 26px/26px "Myriad Pro";
}

.info div.rightWindow div h2{
    font: 40px/40px Tahoma;
}

.info div.rightWindow hr{
    margin: 13px 0 16px;
    color: black;
    background-color: black;
}

.info div.rightWindow p{
    font: 12px/18px 'Myriad Pro';
    color: #3c3c3c;
}

/*------More------*/

.info .rightWindow p.more,
.more{
    display: inline-block;
    line-height: 15px;
    background-color: black;
    color: white;
    padding: 2px;
    margin: 0 1px 24px 0;
    font: 12px/12px Tahoma;
    float:right;
}

.more a{
    color: white;
    text-decoration: none;
}

.more a:hover{
    color: #f2ac04;
}

.info hr{
    clear: both;
}

.info .flex-conteiner{
    margin-top: 36px;
    text-align: left;
}

.info .flex-conteiner h2{
    font: 18px/18px 'Myriad Pro', Arial;
    color: #565656;
    margin-bottom: 33px;
}

.info .flex-conteiner .flex-iteam{
    margin-bottom: 60px;
}

/*------flex1------*/
.info .flex-conteiner .one{
    width: 280px;
    padding-right: 8px;
}

.info .flex-conteiner .one div{
    display: inline-block;
    vertical-align: top;
    margin-left: 11px;
}

.info .flex-conteiner .one div.news{
    margin-bottom: 20px;
    margin-left: 0;
}

.info .flex-conteiner .one div h3{
    font: 16px/22px 'Myriad Pro', Arial;
    color: #565656;
}

.info .flex-conteiner .one  p{
    font: 12px/12px Tahoma;
    padding-bottom: 11px;
    border-bottom: 1px dotted #636363;
    color: #939393;
    width: 222px;
}

.info .flex-conteiner .one  p.date{
    border-right: 1px solid #c7c7c7;
    border-bottom: none;
    width: 27px;
    display: inline-block;
    padding: 4px 0 0 0;
    vertical-align: top;
    float:left;
}


.info .flex-conteiner .one  p span.yellow{
    font: 18px 'Myriad Pro', Arial;
}

.info .flex-conteiner .one  p span.month{
    font: 10px 'Myriad Pro', Arial;
    vertical-align: top;
}

/*------flex2------*/

.info .flex-conteiner .two{
    width: 239px;
    padding: 0 40px;
    border-left: 1px solid #c7c7c7;
    border-right: 1px solid #c7c7c7;
}

.info .flex-conteiner .two p.who{
    font: 16px/23px 'Myriad Pro', Arial;
    margin-bottom: 23px;
}

/*------flex3------*/

.info .flex-conteiner .three{
    width: 265px;
    padding-left: 56px;
    color: #757575;
    font: 14px/40px 'Myriad Pro', Arial;
}

.info .flex-conteiner .three img{
    padding-right: 20px;
    vertical-align: -6px;
}

.info .flex-conteiner .three p{
    border-bottom: 1px dotted #636363;
}

.info .flex-conteiner .three p:nth-child(2) {
    padding-left: 8px;
}

.info .flex-conteiner .three p:nth-child(2) img{
    margin-right: 7px;
}

.info .flex-conteiner .three p:nth-child(5) {
    line-height: 25px;
    border-bottom: none;
}

.info .flex-conteiner .three p span{
    padding-left: 48px;
}

/*------clients------*/

.clients .shortLine{
    width: 40px;
    float:left;
}

.clients div div{
    width: 110px;
    text-align: center;
    float:left;
    font: 14px/1px Tahoma;
}

.clients .longLine{
    vertical-align: 10px;
}

.clients .clIcons{
    text-align: center;
    overflow: auto;
}
/*------footer------*/
.footer .littleLogo{
    text-align: center;
    padding: 24px 0 21px;
}
.bar2 ul{
    text-align: center;
}

.bar2 li{
    list-style-type: none;
    display: inline-block;
    margin: 0;
    font: 10px Tahoma, Arial;
    color: #535353;
    border-right: 1px solid #535353;
    padding: 0 5px;
}

.bar2 ul a:last-child li{
    border-right: none;
}

.footer div:last-child{
   text-align: center;
    font: 16px 'Myriad Pro', Arial;
    color: #545454;
    padding-bottom: 20px;
}

.footer div:last-child span{
    font-size: 12px;
}

/*------for middle screen------*/
@media screen and (max-width: 1015px){
    
    .info .flex-conteiner .two{
        border-right:0;
    }
    
    .info div.leftWindow,
    .info div.rightWindow
    {
        float: none;
        display: block;
        margin: auto;
    }
    
    .info div.leftWindow{
        width: 448px;
        margin-bottom: 20px;
    }
    
    .info div.leftWindow .windowWrap{
        
        background-position: center;
    }
    
    .featProd{
        text-align: center;
        padding-right: 325px;
    }
    
}
/*------For small screen------*/
@media screen and (max-width: 712px){
    
    .bar li{
        margin-right: 5px;
    }
    
    .header .logo img,
    .header .logo p{
        float: none;
        margin: auto;
        display: block;
        text-align: center;
        border-right: 0;
    }
    
    .bar hr:first-child{
        margin-top: 60px;
    }
    
    .info .flex-conteiner .flex-iteam{
        margin-bottom: 10px;
    }
    
    .info .flex-conteiner .two{
        border-left: 0;
    }
    
    .info .flex-conteiner .three{
        padding-left: 10px;
        margin-right: 30px;
        margin-bottom: 30px;
    }
    
    
}
/*------smartphone------*/
@media screen and (max-width: 532px){
    div.wrap{
        width: 520px;   
    }
}

