@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css"); /* для отображения font awesome в IE*/


/* roboto-regular - cyrillic_latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'),
       url('fonts/roboto-v18-cyrillic_latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('fonts/roboto-v18-cyrillic_latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-900 - cyrillic_latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: local('Roboto Black'), local('Roboto-Black'),
       url('fonts/roboto-v18-cyrillic_latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('fonts/roboto-v18-cyrillic_latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* cuprum-regular - cyrillic_latin */
@font-face {
  font-family: 'Cuprum';
  font-style: normal;
  font-weight: 400;
  src: local('Cuprum Regular'), local('Cuprum-Regular'),
       url('fonts/cuprum-v9-cyrillic_latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('fonts/cuprum-v9-cyrillic_latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* cuprum-700 - cyrillic_latin */
@font-face {
  font-family: 'Cuprum';
  font-style: normal;
  font-weight: 700;
  src: local('Cuprum Bold'), local('Cuprum-Bold'),
       url('fonts/cuprum-v9-cyrillic_latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('fonts/cuprum-v9-cyrillic_latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

*{
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    color: #2f3131;
}

.greenButton{
    border: none;
    background-color: #43AA26;
    width: 193px;
    height: 35px;
    text-align: center;
    -webkit-box-shadow: 0 3px 0 #2C8A12;
            box-shadow: 0 3px 0 #2C8A12;
}

.greenButton img{
    vertical-align: middle;
    margin-right: 10px;
}

.greenButton span, .greenButton a{
    font: normal 18px 'Cuprum', sans-serif;
    color: white; 
}

.greenButton img, .greenButton span, .greenButton a{
    line-height: 35px;
    vertical-align: middle;
}

.greenButton:hover{
    cursor: pointer;
}


.greenButton:active{
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-transform: translateY(3px);
            transform: translateY(3px);
}

.inner{
    max-width: 1170px;
    margin: auto;
}

.flex-cont{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;    
}
    
.flex-block{
    -ms-flex-item-align: center;
        align-self: center;
}

h1, #h1{
    font: bold 26px 'Roboto', sans-serif;
    color: #4f555a;
}

h2{
    font: 700 36px 'Cuprum', sans-serif; 
    text-align: center; 
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.boldFont{
    font: bold 16px 'Roboto', sans-serif;
}

.prise{
    font: bold 36px 'Cuprum', sans-serif;
}

hr{
    margin-top: 40px;
}

::-webkit-scrollbar{
    width: 4px;
}

::-webkit-scrollbar-track {
    background: transparent; 
}

::-webkit-scrollbar-thumb {
    background: #2C8A12; 
}


/*---Header---*/
header{
    background-color: #fff;
}

header .flex-cont{
    -ms-flex-pack: distribute;
        -webkit-box-pack: justify;
            justify-content: space-between;
    
}

header .inner{
    margin: 20px auto;
}

header .inner div{
    margin-right: 10px;
}

header .inner .greenButton{
    margin-right: 0;
}

header .inner div:first-child img, h1{
    display: inline-block;
    vertical-align: middle;
}

header .inner div:first-child img{
    margin-right: 10px; 
}

header .inner div:nth-child(2) span{
    font-weight: bold;
}

header .inner div:nth-child(3) p{
    font: normal 26px 'Cuprum', sans-serif;
}


/*---navbar---*/
nav{
    background-color: #43AA26;
}

nav .inner li:first-child{
    border-left: 1px solid #7DC568;
}

nav .inner .flex-block{
    width: auto;
    height: 50px;
    padding: 0 28px;
    border-right: 1px solid #7DC568;
    -webkit-box-shadow: none;
            box-shadow: none;
}

nav .inner .flex-block:last-child{
    padding: 0 0;
}

nav .inner .greenButton:hover{
    background-color: white;
}

nav .inner .greenButton:hover a,
nav .inner .greenButton:hover #glass i{
    color: #43AA26;
}

nav .inner .greenButton:active{
    -webkit-transform: none;
            transform: none;
}

nav .inner .flex-block a{
    text-decoration: none;
    line-height: 50px;
    vertical-align: middle;
}

#glass{
    margin: 10px;
}

#glass i{
    vertical-align:baseline;
    margin: auto;
    margin-left: +2px;
    margin-right: +2px;
    color:  white;
}

/*---upper slider---*/

#slider{
    position: relative;
    height: 500px;
    background-image: url("images/room.gif");
    background-position: center;
}

#slider .inner{
    position: relative;
}

#slideContainer{
    width: 450px;
    height: 160px;
    background-color: #fff;
    border-top: 4px solid #43AA26;
    position: absolute;
    top: 127px;
    right: 22px;
}

#slideContainer .mySlides h2{
    margin: 26px 30px 12px 30px;
    font: normal 18px 'Cuprum', sans-serif;
}

#slideContainer .mySlides p{
    margin: 0 30px;
}

#slideContainer .mySlides{
    display: none;
}

.prev, .next {
    border: none;
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: 30px;
    height: 30px;
    background-color: white;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
}

.prev i{
    margin:auto;
}
.prev{
    left: -15px;
}

.next {
  right: -15px;
}

.prev:hover, .next:hover{
    background-color: #2C8A12;
}

.prev:hover i, .next:hover i{
    color: white;
}

.prev .arrow, .next .arrow{
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    display: inline-block;
    position: relative;
}

.next .arrow{
    top: -2px;
    left: +2px;
}

#dotts{
    position: absolute;
    bottom: 20px;
    left: 187px;
}

.dot{
    display: inline-block;
    cursor: pointer;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #2C8A12;
    margin-right: 10px;
}

.active{
    background-color: white;
    border: 2px solid #2C8A12;
    vertical-align: -2px;
}

/*---info---*/

#info{
    background-image: url('images/pattern.gif');
}

#info .inner{
    position: relative;
}

#info .inner #women{
    width: 481px;
    height: 369px;
    background-image: url(images/women.png);
    float: left;
    margin-top: -90px
}

#info .inner #women div{
    margin-top: 0;
    background-image: url(images/border.png);
    height: 68px;
    width: 71px;
    position: relative;
    top: -3px;
    left: -3px;
}

#info .inner #howTo{
    background-color: white;
    width: 689px;
    -webkit-box-shadow: 0 0 4px #969696;
            box-shadow: 0 0 4px #969696; 
    float: right;
    margin-top: -40px;
    position: relative;
}

#info .inner h2{
    line-height: 100px;
    text-align: left;
}

#info .inner #howTo h2{
    line-height: 118px;
    text-align: center;
}

#howTo .ordering{
    width: 226px;
    display: inline-block;
    background-image: url('images/shadow.png');
    background-position: right bottom;
    background-repeat: no-repeat;
    text-align: center;
}

#howTo .ordering div{
    width: 100px;
    height: 96px;
    margin: 15px auto 19px;
}

#howTo .ordering:nth-child(2){
    vertical-align: top;
}

#howTo .ordering:nth-child(2) div{
    margin: 0 auto 34px;
}

#howTo .ordering p{
    margin-bottom: 37px;
}

#howTo .ordering:last-child{
    background-image: none;
}

#howTo .ordering:last-child p{
    color: #d0d3d8; 
}

.arrows{
    position: absolute;
    bottom: 40px;
}

.activeArr{
    left: 206px;
}

.passiveArr{
    right: 216px;
}


/*---videos---*/

#videoCont{
    white-space: nowrap;
    overflow: hidden;
    clear: both;
    height: auto;
    width: 100%;
}

#videos{
    width: 100%;
    font-size: 0;
}

.video{
    position: relative;
    display: inline-block;
    height: 400px;
    width: 370px;
    margin: 0 30px 0 0;
}

.video img, .rectangle{
    display: block;
}

.video img{
    width: 370px;
    height: 240px;
}

.video p{
    white-space:normal;
    margin-left: 65px;
}

.video a{
    text-decoration: none;
    display: inline-block;
    margin: 10px 0;
}

.video a p:hover{
    color: #2C8A12;
    text-decoration: underline;
}

.rectangle{
    position: absolute;
    left: 0;
    bottom: 135px;
    background: #43aa26;
    background: -webkit-gradient( linear, left bottom, right top, from(#43aa26), to(#a2c166));
    background: linear-gradient( to top right, #43aa26, #a2c166);
    padding: 14px 17px;
    cursor: pointer;
}

.triangle{
    border-top: 11px solid transparent;
	border-left: 16px solid #fff;
	border-bottom: 11px solid transparent;
}

#scroll{
    -webkit-appearance: none;
    width: 100%;
    height: 2px;
    background: #ADB1BB;
    outline: none;
    margin-bottom: 60px;
}

#scroll::-webkit-slider-thumb{
    -webkit-appearance: none;
    cursor: pointer;
    width: 44px;
    height: 44px;
    background-image: url('images/scroll.gif');
}

#scroll::-moz-range-thumb {
    border: none;
    cursor: pointer;
    width: 44px;
    height: 44px;
    background-image: url('images/scroll.gif');
    background-color: transparent;
}

/* Стили для ромбовидного слайдера специально для IE 10+ */
@media screen and (-ms-high-contrast: none), (-ms-high-contrast: active) {

    #scroll{
        height: 44px;
        width: 100%;
        background: none;
    }
    
   #scroll::-ms-track {
        width: 100%;
        height: 2px;

        /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
        background: transparent;

        /*leave room for the larger thumb to overflow with a transparent border */
        border-color: transparent;
        border-width: 6px 0;

        /*remove default tick marks*/
        color: transparent;
    }

    #scroll::-ms-fill-lower {
        background: #ADB1BB;
        border-radius: 17px;
    }

    #scroll::-ms-fill-upper {
        background: #ADB1BB;
        border-radius: 17px;
    }

    #scroll::-ms-thumb {
        border: none;
        height: 44px;
        width: 44px;
        border-radius: 50%;
        background-color: transparent;
        background-image: url(images/scroll.gif);
        cursor: pointer;
    }    
}

/*---Timer---*/
#timer{
    background-image: url(images/GreenBack.gif);
    background-position: center;
    height: 330px;
}

#timer .inner{
    height: inherit;
    background: url('images/workers.gif') 90% 100% no-repeat;
}

#timer h2, #timer p{
    color: white;
}

#timer h2{
    color: white;
    text-align: left;
    line-height: 100px;
}

#timer a{
    font: bold 16px 'Roboto', sans-serif;
    color: #fff600;
    line-height: 25px;
}

#timer #bonus p:last-child{
    margin: 30px 0 10px 0;
}

#numbers{
    margin-bottom: 40px;
}

#numbers div{
    background-color: white;
    display: inline-block;
    height: 100px;
    width: 85px;
    margin-right: 15px;
    -webkit-box-shadow: 0 0 4px #969696;
            box-shadow: 0 0 4px #969696;
}

#numbers .number, #numbers .text{
    text-align: center;
}

#numbers .number{
    font: bold 56px 'Cuprum', sans-serif;
    color: #43aa26;
    line-height: 74px;
}

#numbers .text{
    color: #2f3131;    
}

/*---downSlider---*/

#gallery{
    background: url('images/pattern.gif');
    position: relative;
}

#gallery .inner{
    position: relative;
    overflow: hidden;
}

#gallery h2{
    line-height: 100px;
}

#gallery li {
    background-color: #fff;
    line-height: 38px;
    padding:  0 23px;
    margin: 0 1px 40px 0;
    color: inherit;
    cursor: pointer;
    border: 2px solid #fff;
}


#galleryCont{
    height: 500px;
    white-space: nowrap;
    font-size: 0;
    width: auto;
}

.item{
    background-color: #fff;
    height: 450px;
    margin-right: 26px;
    display: inline-block;
    padding: 20px;
    -webkit-box-shadow: 0 0 5px 5px rgba(221, 221, 221, 1);
            box-shadow: 0 0 5px 5px rgba(221, 221, 221, 1);
}

.item:first-child{
    margin-left: 6px;
}

.item img{
    margin-right: 14px;
}

.item img:first-child{
    display: block;
    margin: 0 0 20px 0;
}

.item img:nth-child(4){
    margin: 0;
}

.item p{
    text-align: center;
     margin: 22px 0;
}

.item hr{
    height: 0;
    border: 2px solid #43aa26;
    width: 60px;
    margin: auto;
}

.item .greenButton{
    border: 2px solid #43aa26;
    display: block;
    margin: auto;
}

.item .greenButton:hover{
    background-color: #fff;
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-transform: translateY(3px);
            transform: translateY(3px);
}

.item .greenButton:hover span {
    color: #43aa26;
}

#b1,#b2,#b3,#b4{
    position: absolute;
    width: 30px;
    height: 30px;
    background: none;
    border: none;
    cursor: pointer;
}

#b1,#b2{
    top: 416px;
}

#b1:hover i, #b2:hover i,
#b3:hover i, #b4:hover i{
    color: #2C8A12;
}

#b1{
    left: 30px;
}

#b2{
    right: 30px;
}

/*---popular---*/
#popular{
    background: url('images/pattern.gif');
    padding-bottom: 40px;
}

#popular .triangle{
    display: inline-block;
    width: 0;
    height: 0;
    position: relative;
}

#popular h2{
    line-height: 120px;
    vertical-align: middle;
}

#popMain, #freeDel, #prise{
    background: #fff;
    display: inline-block;
}

#popMain{
    height: 380px;
    width: 690px;
    padding: 30px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-right: 30px;
}

#lastSlider{
    width: 300px;
}

#popCont{
    width: 450px;
    float: right;
}

#freeDel, #prise{
    height: 180px;
    width: 450px;
    position: relative;
}

#freeDel{
    margin-bottom: 20px;
}

#freeDel p, #freeDel div{
    width: 200px;
    margin: auto;
    text-align: center;
    margin-bottom: 25px;
}

#freeDel img{
    cursor: pointer;
}

#freeDel p:first-child{
    height: 35px;
    width: 80px;
    background-color: #F15858;
    color: white;
    vertical-align: middle;
    font: bold 16px/35px 'Roboto', sans-serif;
    position: relative;
    top: -10px;
    margin-bottom: 15px;
}

#freeDel p.boldFont{
    margin-top: -70px;    
}

#freeDel #red{
    border-top: none;
    border-left: 6px solid transparent;
    border-bottom: 11px solid #c85a5a;
    top: -60px;
    left: -43px;
}

#freeDel #popUp{
    position: relative;
    width: 63px;
}

#freeDel #delInfo{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    overflow-y: scroll;
    padding: 15px;
    background-color: #fff;
    height: 112px;
    width: 270px;
    position: absolute;
    top: -10px;
    left: -290px;
    -webkit-box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.2);
            box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.2);
    display: none;
    text-align: left;
}

#freeDel #white{
    border-top: 11px solid transparent;
	border-left: 16px solid #fff;
	border-bottom: 11px solid transparent;
    top: -70px;
    left: 174px;
}


#prise{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 30px; 
    margin-top: -32px;
}

#prise p{
    text-align: center;
}

#prise p:first-child{
    margin-bottom: 10px;
}

#prise p:nth-child(2){
    margin-bottom: 15px; 
}

#prise button{
    display: block;
    margin: auto;
}

#lastSlider{
    width: 300px;
    height: 320px;
    float: left;
}

.activeImg{
    border: 1px solid red;
}

#lastSlider .display img{
    display: none;
    width: auto;
    height: auto;
    margin-bottom: 15px;
}

#lastSlider .display img.visible{
    display: inline;
}

#popMain #lastSlider .row{
    text-align: center;
    width: 300px;
    position: relative;
}

#lastSlider .row img{
    width: 73px;
    margin-left: 14px;
}

#lastSlider .row img:first-child{
    margin-left: 0;
}

#sliderText{
    width: 310px;
    float: right;
}

#popMain div:nth-child(2) p{
    margin-bottom: 20px;
}

#b3,#b4{
    bottom: 20px;
}


#b3{
    left: -5px;
}

#b4{
    right: -5px;
}



/*---map---*/
#map{
    clear: both;
    height: 520px;
    background-color: #fff;
}

/*---footer---*/

footer h2{
    display: inline-block;
    margin: 10px 0 0 8px;;
}

footer .inner{
    position: relative;
}

footer #list{
    background-color: #fff;
    height: 306px;
    width: 450px;
    position: absolute;
    bottom: 0;
    right: 0; 
}

footer #list div:first-child{
    display: inline-block;
    margin: 30px 0 30px 92px;
}

footer img{
    vertical-align: top;
}

footer ul{
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    height: 84px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 20px;
}

footer li a{
    text-decoration: none;
    line-height: 22px;
}

footer li a:hover{
    text-decoration:underline;
    color: #2C8A12;
}

#list p, #list button{
    display: inline-block;
}

#list p{
    font: normal 26px 'Cuprum', sans-serif; 
    margin: 0 20px 0 25px;
    line-height: 35px;
    vertical-align: middle;
}

@media screen and (max-width: 1186px){
    nav .inner li{
        border: 1px solid #7DC568; 
    }
    
    #slideContainer{
        margin-right: 10%;
    }
    /*---info---*/
    #info .inner #women,
    #info .inner #howTo{
        float: none;
        margin-left: auto;
        margin-right: auto;
    }
    
    #scroll{
        display: none;
    }
    
    #info .inner h2{
        text-align: center;
    }
    
    #videos{
        overflow-x: scroll;
    }
    
    #videoCont{
        padding-bottom: 60px;
    }
    
    /*---Timer---*/
    #bonus, #numbers{
        margin-left: 10%;
    }
    
    /*---Gallery---*/
    #galleryCont{
        width: 875px;
        margin: auto;
    }
    #gallery .inner{
        width: 875px;
    }
    
    /*---Popular---*/
    #popMain, #popCont{
        margin: auto;
        display: block;
    }
    
    #popCont{
        float: none;
        margin-top: 20px;
    }
    
    #freeDel #delInfo{
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        overflow-y: scroll;
        padding: 15px;
        background-color: #fff;
        height: 112px;
        width: 270px;
        position: absolute;
        top: 85px;
        left: -100px;
        -webkit-box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.2);
                box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.2);
        display: none;
        text-align: left;
        z-index: 1;
    }

    #freeDel #white{
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 20px solid #fff;
        top: -34px;
        left: 220px;
    }
}

/*for large devises*/
@media screen and (max-width: 992px){
    header .flex-cont{
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    /*---Gallery---*/
    #galleryCont{
        width: 590px;
    }
    #gallery .inner{
        width: 590px;
    }    
}

@media screen and (max-width: 690px){
    #info .inner #howTo{
        margin: auto;
        width: 310px;
        padding: 5px;
    }
    
    #info .inner #howTo h2{
        font-size: 30px;
    }
    
    #women{
        display: none;
    }
    
    #howTo .ordering{
        display: block;
        margin: auto;
        background: none;
    }
    
    #howTo .ordering p{
        padding-bottom: 32px; 
        border-bottom: 1px solid gray;
    }
    
    .arrows{
        -webkit-transform:rotate(90deg);
                transform:rotate(90deg);
    }
    
    .activeArr{
        top: 300px;
        left: 46%;
    }
    
    .passiveArr{
        top: 519px;
        left: 44%;
    }
    
    /*---Gallery---*/
    #galleryCont{
        width: 285px;
        margin-top: 5px;
    }
    
    #gallery .inner{
        width: 285px;
    }
    
    #gallery li{
        margin-bottom: 2px;
    }
    
    /*---popular---*/
    #popMain{
        width: auto;
        height: auto;
    }
    
    #lastSlider, #sliderText{
        float: none;
        margin: auto;
    }
    
    #sliderText{
        margin-top: 20px;
        width: 100%;
    }
}

/*For small devises*/
@media screen and (max-width: 576px){
    header .flex-cont{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    
    header .flex-block{
        margin-bottom: 10px;
    }
    
    #slideContainer{
        width: 250px;
        height: 300px;
        position: relative;
        margin-right: 0;
        margin: auto;
        right: 0;
    }
    
    #dotts{
        left: 80px;
    }
    
    /*---Timer---*/
    #timer .inner{
        text-align: center;
        padding: 0 10px;
    }
    
    #bonus{
        margin: 0;
    }

    #bonus p{
        display: inline;
    }
    
    #bonus h2, #bonus p{
        text-align: center;
    }
    
    #bonus h2{
        line-height: 60px;
    }
    
    #timer #numbers{
        display: inline-block;
        margin: 20px 0 0 0;
    }
    /*---gallery---*/
    #gallery #b1,
    #gallery #b2{
        top: 550px;
    }
    
    #gallery #b1{
        left: 100px;
    }
    
    #gallery #b2{
        right: 100px;
    }
    
    /*---popular---*/
    #popCont, #freeDel, #prise{
        width: auto;
        display: block;
    }
    
    #prise{
        margin-top: 0;
    }
    
    /*---footer---*/
    footer #list{
        position: relative;
        width: auto;
        text-align: center;
    }
    
    footer #list div:first-child {
        margin: 30px auto; 
    }
    
    footer button{
        margin-bottom: 10px;
    }
}

/*For extra small devises*/
@media screen and (max-width: 300px){
    header .inner div:first-child img, h1{
        display: block;
        margin: auto;
    }
    
    h1, header p{
        text-align: center;
    }
    
    nav .inner .flex-cont{
        display: block;
    }
    
    .prev:hover, .next:hover{
        background-color: transparent;
    }
    
    .prev:hover i, .next:hover i, .active{
        color: black;
    }
    
    .prev{
        left: +3px;
        background: none;
    }

    .next {
        right: 0px;
        background: none;
    }
    
    /*---info---*/
    #info .inner #howTo{
        width: 280px;
    }
    
    /*---popular---*/
    #popMain{
        padding: 0;
    }
    
    #lastSlider .row img{
        margin-left: 5px;
    }
    
    #b3{
        left: 0;
    }

    #b4{
        right: 0;
    }
}

