@font-face{
    font-family: ProximaNovaExtrabold;
    src: url(Fonts/ProximaNova-Extrabold.otf);
}

@font-face{
    font-family: Raleway-Regular;
    src: url(Fonts/Raleway-Regular.ttf);
}

@font-face{
    font-family: Raleway-Bold;
    src: url(Fonts/Raleway-Bold.ttf);
}

@font-face{
    font-family: Raleway-Light;
    src: url(Fonts/Raleway-Light.ttf);
}

@font-face{
    font-family: DroidSerif-Italic;
    src: url(Fonts/DroidSerif-Italic.ttf);
}

@font-face{
    font-family: Socialico;
    src: url(Fonts/Socialico.ttf);
}

@font-face{
    font-family: Socialico;
    src: url(Fonts/Socialico.woff);
}

*{
    outline: none;
    margin: 0;
    padding: 0;
}

body{
    background-color: #fff;
}

.white{
    color: #fff;
}


.darkGray{
    color:#636c6c;
}

.gray{
    color:#8c9494;
}

.lightGray{
    color:#afb8b8;
}

.green{
    color:#5dca88;
}

.button{
    padding: 15px 53px;
    border: 3px solid;
    border-radius: 30px;
    display: inline-block;
    text-align: center;
}

.button a{
    text-decoration: none;
}

/*------Part1------*/
.part1{
    padding-top: 42px;
    padding-bottom: 37px;
}

.part1 a,
.part1 span{
    text-decoration: none;
    font: 14px Raleway-Regular;
    color: #747a7a;
}

.part1 a.active{
    color: #3c3d42;
}

.part1 a:hover{
    color: #747a7a;
}

.part1 a.active:hover{
    color: #3c3d42;
}

.part1 li a{
    padding-right: 33px;
    padding-top: 8px;
    display: block;
}

.part1 .logo{
    font: 30px ProximaNovaExtrabold;
    color: #3c3d42;
}

.part1 .row div:last-child{
    padding-top: 5px;
}

.part1 span{
    color: #3c3d42;
    font-size: 18px;
}  

.part1 span i{
    padding-right: 10px;
}

.part1 span:nth-child(2){
    padding-right: 40px;
}

/*------part2------*/
.part2{
    background: #0d68ae url(images/sky.png) no-repeat center bottom;
    background-repeat: no-repeat;
    height: 730px;
}

.part2 .container{
    height: inherit;
    background: url(images/hand.png) no-repeat right bottom;
}

.part2 .col-lg-5{
    padding: 182px 0 0 0; 
}

.part2 .thickHeader{
    font: 36px/36px Raleway-Bold;
}

.part2 .thinHeader{
    font: 36px/30px Raleway-Light;
    margin-top: 10px;
}

.part2 p{
    font: 14px/24px Raleway-Regular;
    color: #9dc7d1;
    margin-top: 47px;
}

.part2 .button{
    border-color: #92b2b6;
    margin-top: 56px;
}

.button .{
    font: 21px Raleway-Bold;
}

.part2 .button a:hover{
    color: #fff;
}

/*------part3------*/
.part3{
    padding-bottom: 70px;    
}

.part3 .col-lg-8{
    text-align: center;
}

.part3 .col-lg-8 h2{
    font: 36px Raleway-Bold;
    margin: 104px 0 40px;
}

.part3 .col-lg-8 p{
    font: 16px/24px Raleway-Regular;
    margin-bottom: 127px;
}
.part3 ul.col-lg-3,
.part3 ul.col-lg-7{
    display: inline-block;
}

.part3 ul.col-lg-3{
    height: 600px;
    list-style-type: none;
    overflow-y: scroll; 
}

.part3 ul.col-lg-3 li{
    font: 20px Raleway-Regular;
    text-align: right;
    padding-bottom: 73px;
}

.part3 ul.col-lg-3 li i{
    vertical-align: middle;
}

.part3 ul.col-lg-3 li span{
    padding-left: 40px;
}

.part3 ul.col-lg-3 li a:hover{
    text-decoration: none;
    color:#afb8b8;
}

.part3 ul.col-lg-3 li a.active span{
    color:#636c6c;
}

.part3 div.col-lg-7 i{
    display: block;
    font-size: 220px;
    text-align: center;
    vertical-align: top;
    margin-bottom: 36px;
}

.part3 div.col-lg-7 h3{
  font: 24px Raleway-Bold,sans-serif; 
    margin-bottom: 40px;
}

.part3 div.col-lg-7 p{
    font: 16px/24px Raleway-Regular,sans-serif;
}
/*------part4------*/
.part4{
    background-color: #f2f9fe;
    padding: 80px 0;
}

.part4 .col-lg-5{
    padding-top: 60px;
    padding-right: 0;
    font-family: Raleway-Regular,sans-serif;
}

.part4 .col-lg-5 h2.green{
    font: 36px Raleway-Bold,sans-serif;
}

.part4 .col-lg-5 hr{
    border: none;
    height: 2px;
    color: #949c9c;
    background-color: #949c9c;
    width: 104px;
    margin: 20px 0 46px;
}

.part4 .col-lg-5 h2.gray{
    font-size: 36px;
    margin-bottom: 50px;
}

.part4 .col-lg-5 p{
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 60px;
}

.part4 .button{
    border-color: #aab2b5;
}

.part4 .button a{
    font: 21px Raleway-Bold,Arial,sans-serif;
}

.part4 .button a:hover{
    color: #636c6c;
}

/*------part 5------*/

.part5{
    text-align: center;
}

.part5 .container h2.darkGray{
    font: 36px Raleway-Bold,sans-serif;
    margin: 100px 0 24px 0;
}

.part5 .container div.lightGray{
    font: 16px/24px Raleway-Regular,sans-serif;
}

.part5 img{
    margin: 85px 0 48px 0;
}

.part5 .row:nth-child(2) p{
    font: 14px/24px Raleway-Regular,sans-serif;
    padding: 0 50px 0 50px;
    margin-bottom: 125px;
}

/*------part6------*/
.part6{
    background-color: #f2f9fe;
}

.part6 .button{
    border-color: #aab2b5;
}

.part6 .button a{
    font: 21px Raleway-Bold,Arial,sans-serif;
}

.part6 div img{
    margin-top: 70px;
    margin-bottom: 80px;
}

.part6 h2.green{
    font: 36px Raleway-Bold,Arial,sans-serif;
    margin-top: 160px;
    margin-bottom: 20px;
}


.part6 hr{
    border: 0;
    height: 2px; 
    width: 104px;
    background-color: #8c9494; 
    color: #8c9494;
    margin: 0;
}

.part6 h2:nth-child(2){
    font: 36px Raleway-Regular,sans-serif;
    margin: 46px 0 50px 0;
}

.part6 p{
    font: 16px/24px Raleway-Regular,sans-serif;
    margin-bottom: 80px;
}

/*------part7------*/

.part7 div#carousel{
    text-align: center;
}

.part7 div#carousel img{
    display: inline;
}

.part7 div#carousel ol li{
    background-color: #8c9494;
}

.part7 div#carousel ol li.active{
    background-color: #5dca88;
}

.part7 h2{
    font: 36px/24px Raleway-Bold,Arial,sans-serif;
    margin-top: 106px;
}

.part7 img{
    margin-top: 38px;
}

.part7 blockquote{
    margin-top: 26px;
    margin-bottom: 0;
    font: 24px/24px DroidSerif-Italic,Arial,sans-serif;  
}

.part7 p{
    font: 24px/24px Raleway-Regular, Arial, sans-serif;
    margin: 28px 0 160px 0;
}

.part7 .carousel-indicators{
    bottom: 112px;
}

.part8{
    text-align: center;
    background-color: #f3f5f5;
}

.part8 h2{
    margin-top: 90px;
    font: 36px Raleway-Bold, Arial, sans-serif;
}

.part8 h2 i{
    margin-right: 22px;
}

.part8 .email{
    background-color: #fff;
    height: 56px;
    width: 100%;
    border: 2px solid #bbc3c2;
    border-radius: 30px;
    margin: 56px 0 120px 0;
}

.part8 .email input[name="email"]{
    font: 14px Raleway-Regular, Arial, sans-serif;
    color: #8c9494;
    float: left;
    line-height: 52px;
    vertical-align: center;
    border: none;
    margin-left: 30px;
    width: 30%;
}

.part8 .email input[name="submit"]{
    height: 56px;
    width: 172px;
    margin-top: -2px;
    margin-right: -2px;
    font: 20px/24px ProximaNovaExtrabold, Arial, sans-serif;
    float: right;
    border-radius: 30px;
    border: none;
    background-color: #5dca88;
    color: #fff;
}
/*------Part 9------*/
.part9{
    background-color: #2d312f;
    text-align: center;
}

.part9 div.gray{
    font: 24px/24px Raleway-Regular, Arial, sans-serif;
    padding-top: 75px;
}

.part9 footer ul{
    margin-top: 65px;
    margin-bottom: 50px;
}

.part9 footer ul li{
    display: inline;
    list-style:none;
    color:inherit;  
}

.part9 footer ul li a{
    color:inherit;
    margin-right: 20px;
    font: 14px/24px Raleway-Regular, Arial, sans-serif;
}

.part9 footer div:nth-child(2){
    margin-top: 32px;
}

.part9 footer div:nth-child(2) a{
    font: 60px Socialico;
    color: #5d6461;
    margin-right: 16px;
}

.part9 footer div:nth-child(2) a:hover{
    text-decoration: none;
}
/*------responce------*/

@media screen and (max-width: 1000px){
    .part2 .container{
        background-image: none;
        text-align: center;
    }
}

@media screen and (max-width: 767px){
    .part3 ul.col-lg-3{
    list-style-type: none;
    overflow-y: visible; 
    display:block;
        height: auto;
    }
    
    .part3 ul.col-lg-3 li{
        text-align: center;
        margin: auto;
    } 
    
    .part6 img {
        padding: 0;
        width: 400px;
        text-align: center;
    }
    
}

@media screen and (max-width: 400px){
    body{
        text-align: center;
    }
    .part4 img, .part5 img {
        padding: 0;
        width: 250px;
    }
    
    .part6 img{
        padding: 0;
        width: 100%;
    }
}


